.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slider-element {
    display: flex;
    gap: 5px;
}

.slider-color {
    height: 30px;
    width: 30px;
    align-self: flex-end;
    background-color: white;
    border: 1px solid black;
    margin-inline: 1rem;
}

/* Anzeige der Regler-Farbe */
.value-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    margin-inline: 0.3125rem;
    text-align: center;
    min-width: 30px;
}

/* Setzt sich aus den 3 RGB-Slidern zusammen*/
.rgb-color {
    display: block;
    height: 90px;
    width: 90px;
    border: 1px solid black;
}

label {
    font-weight: bold;
    min-width: 5vw;
    align-self: center;
    text-align: left;
}

input[type=color] {
    display: block;
    height: 90px;
    width: 90px;
    cursor: pointer;
}

@media (max-width: 37rem) {
    .flex-row {
        flex-direction: column;
    }

    .flex-column {
        flex-direction: row;
    }
}
