@page "/colortune"

<h3>ColorTune</h3>

<div class="slider-container">
    <div class="slider-element" id="red">
        <label for="red-slider">Rot</label>
        <input type="range" id="red-slider" min="0" max="255" @bind="RedValue">
        <span class="slider-color" id="red-value"/>
    </div>
    <div class="slider-element" id="green">
        <label for="green-slider">Grün</label>
        <input type="range" id="green-slider" min="0" max="255" @bind="GreenValue">
        <span class="slider-color" id="green-value"/>
    </div>
    <div class="slider-element" id="blue">
        <label for="blue-slider">Blau</label>
        <input type="range" id="blue-slider" min="0" max="255" @bind="BlueValue">
        <span class="slider-color" id="blue-value" />
    </div>
</div>

@code {
    private int RedValue = 0;
    private int GreenValue = 0;
    private int BlueValue = 0;
}
